@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to bottom, rgb(184, 183, 183), rgb(139, 139, 139));
    min-height: 100vh;
}

nav {
    height: 80px;
    background-color: #237494;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    flex-wrap: wrap;
}

nav .logo a {
    text-decoration: none;
    color: white;
}

nav .logo h1 {
    font-size: 2.2rem;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 8px;
}

.menu {
    cursor: pointer;
    display: none;
}

.menu img {
    width: 40px;
}