
@media (max-width: 900px) {

    .menu {
        display: block;
        z-index: 1000;
    }

    nav ul {
        position: fixed;
        top: -100%;
        left: 0;
        background-color: #933993;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        transition: 0.3s ease;
    }

    nav ul.active {
        top: 0;
    }

    nav ul li {
        margin: 30px 0;
    }

    nav ul li a {
        font-size: 1.5rem;
    }
}