
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #c3acd3;
}

nav {
    height: 80px;
    background-color: #834ba8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 5%;
}

nav .logo h1 {
    color: white;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding: 10px;
}

.menu {
    cursor: pointer;
    display: none;
    color: white;
}

.menu i {
    font-size: 1.5rem;
}